@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Cabeçalho - Ícone de menu e botões */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

.img-menu {
    width: 50px;
}

.space {
    flex-grow: 1;
}

button {
    width: 120px;
    height: 40px;
    padding: 8px 16px;
    margin-right: 10px;
    border: none;
    border-radius: 30px;
    background-color: #FFD100;
    color: black;
    font-size: 14px;
    cursor: pointer;
    
}

button:hover {
    background-color: #916a00;
}

#button-empresa {
    width: 150px;
    
}

/* Sessão 1 com logo */
.section-logo {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.img-logo {
    width: 50vh;
    height: auto;
    margin: 0;
}

.instituicoes{
    margin: 10px 0;
    margin-left: 30%;
}

h6 {
    margin: 10px 0;
}

h6 {
    font-size: large;
}

/* Sessão Conteúdo Principal */
.section-main {
    margin: 40px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #FFD100;
    border-radius: 35px;
    padding: 20px;
}

.column {
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
}

.column img {
    max-width: 100%;
    height: auto;
    width: 190px;
}

/* Sessão Conheça as Instituições */

.section-bottom {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

.top-content, .bottom-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0;
    margin-left: 90px;
    
}

.left-image, .right-image {
    width: 48%;
    margin: 1%;
    
}

.left-text, .right-text{
    width: 48%;
    margin: 1%;
    
    

}

.left-image img, .right-image img {
    width: 80%;
    height: auto;
    border-radius: 35px;
}

/* Div quem somos nós? */

.txt-footer {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.quem-somos {
    width: 100%;
    max-width: 80%;
    background-color: #FFD100;
    border-radius: 35px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.quem-somos h3 {
    color: aliceblue;
    flex: 1; 
    margin: 0; 
    text-align: left; 
}
.quem-somos .title{
    font-family: Poppins;
    font-size: 58px;
}

/* Final da Página */

.bottom-page{
    
    display: flex;
    background-color: #FFD100;
    padding: 5px;
    
}

.text-bottom-page{
    margin-left: 50%;
}

